#block-asc-taxonomy-filter-news-terms-1 h2.block-title,
#block-asc-taxonomy-filter-events-terms-1 h2.block-title,
#block-asc-taxonomy-filter-blog-terms-1 h2.block-title,
#block-asc-taxonomy-filter-news-terms-1 h2.block-title{
  float: left;
  font-size: 1em;
  font-weight: bold;
}
