#block-asc-taxonomy-filter-news-terms-1 h2.block-title,
#block-asc-taxonomy-filter-events-terms-1 h2.block-title,
#block-asc-taxonomy-filter-blog-terms-1 h2.block-title,
#block-asc-taxonomy-filter-news-terms-1 h2.block-title{
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.75em;
}

#block-asc-taxonomy-filter-news-terms-1 li,
#block-asc-taxonomy-filter-events-terms-1 li,
#block-asc-taxonomy-filter-blog-terms-1 li,
#block-asc-taxonomy-filter-news-terms-1 li {
  display: inline;
}

#block-asc-taxonomy-filter-news-terms-1 a,
#block-asc-taxonomy-filter-events-terms-1 a,
#block-asc-taxonomy-filter-blog-terms-1 a,
#block-asc-taxonomy-filter-news-terms-1 a {
  color: #000000;
}

#block-asc-taxonomy-filter-active-filters ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: inline;
  height: 3em;
  font-weight: bold;
}

#block-asc-taxonomy-filter-active-filters ul li.first {
  margin-left: 0;
}
