.region-content #block-asc-taxonomy-filter-news-terms-1 h2.block-title,
.region-content #block-asc-taxonomy-filter-blog-terms-1 h2.block-title,
.region-content #block-asc-taxonomy-filter-people-terms-1 h2.block-title,
.region-content #block-asc-taxonomy-filter-image-terms-1 h2.block-title,
.region-content #block-asc-taxonomy-filter-event-terms-1 h2.block-title {
  display: none;
}

.region-content #block-asc-taxonomy-filter-news-terms-1 li,
.region-content #block-asc-taxonomy-filter-blog-terms-1 li,
.region-content #block-asc-taxonomy-filter-people-terms-1 li,
.region-content #block-asc-taxonomy-filter-image-terms-1 li,
.region-content #block-asc-taxonomy-filter-event-terms-1 li {
  display: inline;
  padding: 0 0.75em;
  border-left: 1px solid #333333;
  margin-left: 0;
}

.region-content #block-asc-taxonomy-filter-news-terms-1 li:first-child,
.region-content #block-asc-taxonomy-filter-blog-terms-1 li:first-child,
.region-content #block-asc-taxonomy-filter-people-terms-1 li:first-child,
.region-content #block-asc-taxonomy-filter-image-terms-1 li:first-child,
.region-content #block-asc-taxonomy-filter-event-terms-1 li:first-child {
  border-left: none;
  margin: 0;
  padding-left: 0;
}

#block-asc-taxonomy-filter-active-filters div.item-list ul {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.75em 0;
  font-weight: bold;
}

#block-asc-taxonomy-filter-active-filters div.item-list ul li {
  display: inline;
}

#block-asc-taxonomy-filter-active-filters div.item-list ul li.first {
  margin-left: 0;
}

.group-terms {
  border-top: 1px solid #333333;
}

.group-terms .field-type-taxonomy-term-reference {
  padding-right: 6px;
  float: left;
}

.group-terms .field-type-taxonomy-term-reference .field-items,
.group-terms .field-type-taxonomy-term-reference .field-item {
  display: inline;
}

.group-terms .field-type-taxonomy-term-reference:before {
  content: ' | ';
}

.group-terms .field-type-taxonomy-term-reference:first-child:before {
  content: '';
}

